-injars /home/arwoon_shlaka/Documents/ISIMA/java/zz3/tp8/deliverable/tp8.jar
-outjars /home/arwoon_shlaka/Documents/ISIMA/java/zz3/tp8/deliverable/tp8Proguard.jar

-libraryjars /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.272.b10-0.fc32.x86_64/jre/lib/rt.jar

-keep class tp4.src.Main {
    public static void main(java.lang.String[]);
}

